LIBRETRANSLATE_URL=http://libretranslate:5000
DICTIONARY_SERVICE_URL=http://dictionary:8001
LOG_LEVEL=INFO
SOURCE_LANGUAGE=en
TARGET_LANGUAGES=de,fr,it,pl
CORS_ORIGINS=*

FEATURE_ONLINE_LOOKUP=false
FEATURE_GOOGLE_FALLBACK=false
FEATURE_WEB_SEARCH=false